.board {
    display: grid;
    grid-template-rows: repeat(50, 14px);
    grid-template-columns: repeat(50, 14px);
    box-sizing: inherit;

    &.pen {
        cursor: url("./Pen.svg") 0 24, auto;
    }

    &.eraser {
        cursor: url("./Eraser.svg") 12 12, crosshair;
    }

    &.running {
        cursor: auto;
    }
}
