.cell {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    border: 1px solid gainsboro;
    background-color: white;
    user-select: none;
    transition: 0.04s ease-in;

    &.fill {
        background-color: #333030;
        transition: 0.07s ease-out;
    }

    &:hover:not(.fill) {
        background-color: #e1e1e1;
        transition: 0.07s ease-out;
    }
}
