.toggle {
    border-radius: 5px;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    width: 90px;
}

.keys {
    display: flex;
    justify-content: space-between;
    width: 180px;
    padding: 13px;
}
