.saved-boards-title {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 13px;
    margin-top: 20px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #999;
}

.saved-boards {
    margin: 7px 0 0 13px;
    padding: 4px 0 4px 0;
    height: 182px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    overflow: scroll;

    &.disabled {
        pointer-events: none;
        color: #777;
    }
}

.info {
    display: flex;
    align-items: center;
    cursor: default;
    text-transform: none;
    letter-spacing: normal;
    font-weight: normal;
    font-size: 12px;
}

ul {
    padding-left: 23px;
}

li {
    padding-bottom: 7px;
}
